#root {
  text-align: center;
  font-family: 'Fira Code', monospace;
}

.App {
	 height: 100vh;
	overflow: scroll;
}

.theme-POMODORO {
	background-color: #ff3b30;
}
.theme-SHORT_BREAK {
	background-color: green;
}
.theme-LONG_BREAK {
	background-color:yellow;
}

.container {
	max-width: 644px;
	width: 100%;
	margin: 0 auto;
	display: block;
	/* background-color: rgba(255,255,255,0.1); */
	padding: 1px;
}
.header {
	text-align: left;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	padding: 4px 10px;
}
.main {
	padding: 20px 0 30px;
	width: 100%;
	max-width: 480px;
	background-color: rgba(255,255,255,0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px auto 0 auto;
	border-radius: 4px;
}

.main-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.main-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main .main-bottom button {
	width: 250px;
	padding: 14px;
	margin: 4px;
}

.main button {
	margin: 0 4px;
	font-size: 16px;
	padding: 6px 10px;
}

.main h1 {
	font-size: 6.5em;
	margin: 0.2em auto;

}

.main button.selected {
	background-color:  rgba(0,0,0,0.2);
}

